@font-face {
  font-family: "ColfaxAI";
  src: url(https://cdn.openai.com/API/fonts/ColfaxAIRegular.woff2)
      format("woff2"),
    url(https://cdn.openai.com/API/fonts/ColfaxAIRegular.woff) format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "ColfaxAI";
  src: url(https://cdn.openai.com/API/fonts/ColfaxAIBold.woff2) format("woff2"),
    url(https://cdn.openai.com/API/fonts/ColfaxAIBold.woff) format("woff");
  font-weight: bold;
  font-style: normal;
}
.main,
.main input, .copy-popup {
  font-family: Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
  font-size: .875rem;
  line-height: 24px;
  color: #353740;
  width: 100%;
}
.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 600px;
  box-shadow: 0px 8px 10px 1px rgb(0 0 0 / 14%), 0px 3px 14px 2px rgb(0 0 0 / 12%), 0px 5px 5px -3px rgb(0 0 0 / 20%);
  border-radius: 8px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  overflow: hidden;
}
.main .icon {
  width: 34px;
}
.main h3 {
  font-size: 32px;
  line-height: 40px;
  font-weight: bold;
  color: #202123;
  margin: 16px 0 40px;
}
.main form {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.main input[type="text"] {
  /* padding: 12px 16px;
  border: 1px solid #10a37f;
  border-radius: 4px;
  margin-bottom: 24px; */
  border: none;
  padding: 0;
  margin: 0;
  outline: none !important;
  margin-left: 7px;
  -webkit-box-shadow: 0 0 0 30px white inset !important;
  box-shadow: 0 0 0 30px white inset !important;
}
.main ::placeholder {
  color: #8e8ea0;
  opacity: 1;
}
.main .button {
  color: #fff;
  border: none;
  border-radius: 4px !important;
  text-align: center;
  cursor: pointer;
  margin: 10px;
  width: fit-content;
  padding: 7px 12px;
  background-color: #1D72E7;
  margin-right: 0;
  appearance: none;
}
.main .result {
  padding: 10px;
  height: 350px;
  white-space: pre-wrap;
  overflow: auto;
}

.main .email-header{
  width: calc(100% - 20px);
  background-color: #404040;
  color: white;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

.main svg {
  height: 16px;
  padding: 4px 0;
  fill: #9a9a9a;
  margin-right: 8px;
  cursor: pointer;
}

.main .input-group {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #cfcfcf;
  margin: 0 10px;
  padding: 7px 0;
  gap: 5px;
}

.main label {
  color: #777;
  display: flex;
}

.copy-popup {
  position: absolute;
  right: 10px;
  width: fit-content;
  transition: right 300ms;
}

.main .button-group {
  display: flex;
}
#copy {
  display: none;
}

@media only screen and (max-width: 600px){
	.main .email-header{
    display: none;
  }
  .main {
    box-shadow: none;
    display: flex;
    height: -webkit-fill-available
  }
  .main .result, .main form {
    height: 100%;
  }
  #copy {
    display: block;
  }
}
